
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700|Material+Icons");
@import url("https://use.fontawesome.com/9580db535e.css");

@charset "UTF-8";
.show-grid {
	width: 100%;
}

@font-face {
	font-family: 'noto_serifbold';
	src: url("../fonts/noto-serif/notoserif-bold-webfont.eot");
	src: url("../fonts/noto-serif/notoserif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif/notoserif-bold-webfont.woff2") format("woff2"), url("../fonts/noto-serif/notoserif-bold-webfont.woff") format("woff"), url("../fonts/noto-serif/notoserif-bold-webfont.ttf") format("truetype"), url("../fonts/noto-serif/notoserif-bold-webfont.svg#noto_serifbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_serifbold_italic';
	src: url("../fonts/noto-serif/notoserif-bolditalic-webfont.eot");
	src: url("../fonts/noto-serif/notoserif-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif/notoserif-bolditalic-webfont.woff2") format("woff2"), url("../fonts/noto-serif/notoserif-bolditalic-webfont.woff") format("woff"), url("../fonts/noto-serif/notoserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/noto-serif/notoserif-bolditalic-webfont.svg#noto_serifbold_italic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_serifitalic';
	src: url("../fonts/noto-serif/notoserif-italic-webfont.eot");
	src: url("../fonts/noto-serif/notoserif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif/notoserif-italic-webfont.woff2") format("woff2"), url("../fonts/noto-serif/notoserif-italic-webfont.woff") format("woff"), url("../fonts/noto-serif/notoserif-italic-webfont.ttf") format("truetype"), url("../fonts/noto-serif/notoserif-italic-webfont.svg#noto_serifitalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_serifregular';
	src: url("../fonts/noto-serif/notoserif-regular-webfont.eot");
	src: url("../fonts/noto-serif/notoserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-serif/notoserif-regular-webfont.woff2") format("woff2"), url("../fonts/noto-serif/notoserif-regular-webfont.woff") format("woff"), url("../fonts/noto-serif/notoserif-regular-webfont.ttf") format("truetype"), url("../fonts/noto-serif/notoserif-regular-webfont.svg#noto_serifregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sansbold';
	src: url("../fonts/noto-sans/notosans-bold-webfont.eot");
	src: url("../fonts/noto-sans/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/noto-sans/notosans-bold-webfont.woff") format("woff"), url("../fonts/noto-sans/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/noto-sans/notosans-bold-webfont.svg#noto_sansbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sansbold_italic';
	src: url("../fonts/noto-sans/notosans-bolditalic-webfont.eot");
	src: url("../fonts/noto-sans/notosans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans/notosans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/noto-sans/notosans-bolditalic-webfont.woff") format("woff"), url("../fonts/noto-sans/notosans-bolditalic-webfont.ttf") format("truetype"), url("../fonts/noto-sans/notosans-bolditalic-webfont.svg#noto_sansbold_italic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sansitalic';
	src: url("../fonts/noto-sans/notosans-italic-webfont.eot");
	src: url("../fonts/noto-sans/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/noto-sans/notosans-italic-webfont.woff") format("woff"), url("../fonts/noto-sans/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/noto-sans/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto_sansregular';
	src: url("../fonts/noto-sans/notosans-regular-webfont.eot");
	src: url("../fonts/noto-sans/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/noto-sans/notosans-regular-webfont.woff") format("woff"), url("../fonts/noto-sans/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/noto-sans/notosans-regular-webfont.svg#noto_sansregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	font-family: "noto_sansregular", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333333;
	background-color: #ffffff;
	-webkit-transition: font-size .3s;
	transition: font-size .3s;
}

@media (min-width: 45.0625rem) {
	body {
		font-size: 1.125rem;
	}
}

nav {
	font-family: "noto_sansregular", sans-serif;
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: "Noto Serif", serif;
	font-weight: 700;
	line-height: 1.2;
	-webkit-transition: font-size .3s;
	transition: font-size .3s;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	margin-bottom: 1.5rem;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	margin-bottom: .25rem;
	font-family: "noto_sansregular", sans-serif;
}

h5, .h5,
h6, .h6 {
	font-weight: normal;
}

h1.subtitle,
h2.subtitle,
h3.subtitle,
.h1.subtitle,
.h2.subtitle,
.h3.subtitle {
	font-family: "noto_sansregular", sans-serif;
	color: grey;
}

h1, .h1 {
	font-size: 2.369rem;
}

h2, .h2 {
	font-size: 1.777rem;
}

h3, .h3 {
	font-size: 1.333rem;
}

h4, .h4 {
	font-size: 1rem;
}

h5, .h5 {
	font-size: 0.875rem;
}

h6, .h6 {
	font-size: 0.8125rem;
}

@media (min-width: 45.0625rem) {
	h1, .h1 {
		font-size: -webkit-calc( 1.125rem * 2.369);
		font-size: calc( 1.125rem * 2.369);
	}
	h2, .h2 {
		font-size: -webkit-calc( 1.125rem * 1.777);
		font-size: calc( 1.125rem * 1.777);
	}
	h3, .h3 {
		font-size: -webkit-calc( 1.125rem * 1.333);
		font-size: calc( 1.125rem * 1.333);
	}
	h4, .h4 {
		font-size: -webkit-calc( 1.125rem * 1);
		font-size: calc( 1.125rem * 1);
	}
	h5, .h5 {
		font-size: -webkit-calc( 1.125rem * .875);
		font-size: calc( 1.125rem * .875);
	}
	h6, .h6 {
		font-size: -webkit-calc( 1.125rem * .8125);
		font-size: calc( 1.125rem * .8125);
	}
}

.small {
	font-size: 0.875rem;
}

small,
.x-small {
	font-size: 0.8125rem;
}

code,
pre {
	font-family: "Fira Mono", monospace;
	font-size: 0.875rem;
}

p {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?khpqlq");
	src: url("../fonts/icomoon/icomoon.eot?khpqlq#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?khpqlq") format("truetype"), url("../fonts/icomoon/icomoon.woff?khpqlq") format("woff"), url("../fonts/icomoon/icomoon.svg?khpqlq#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-appointment:before {
	content: "";
}

.icon-doctor:before {
	content: "";
}

.icon-location:before {
	content: "";
}

.icon-visit:before {
	content: "";
}

.icon-search:before {
	content: "";
}

.icon-angle-left:before {
	content: "";
}

.icon-angle-right:before, .most-viewed__item a:before {
	content: "";
}

.icon-angle-up:before {
	content: "";
}

.icon-angle-down:before {
	content: "";
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

td, th {
	vertical-align: top;
}

a {
	text-decoration: none;
}

body {
	min-width: 20rem;
	padding-bottom: 1rem;
}

body.menu-open {
	overflow: hidden;
}

.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container:before, .container:after {
	content: "";
	display: table;
}

.container:after {
	clear: both;
}

.contain {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.contain:before, .contain:after {
	content: "";
	display: table;
}

.contain:after {
	clear: both;
}

.restrict {
	max-width: 45rem;
}

.restrict:before, .restrict:after {
	content: "";
	display: table;
}

.restrict:after {
	clear: both;
}

.access {
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: 0;
}

.video-wrap, .video-wrap--ntsc {
	/* 16:9 Aspect Ratio */
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.video-wrap--ntsc {
	/* 4:3 Aspect Ratio */
	padding-bottom: 73.5%;
}

@media (min-width: 50.0625rem) {
	.video-wrap, .video-wrap--ntsc {
		box-shadow: 0 0 9.5px 0.5px rgba(1, 0, 0, 0.14);
		border: solid 1rem white;
	}
}

.video-wrap iframe, .video-wrap--ntsc iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sticky {
	padding-top: 70px;
}

@media (min-width: 64.0625rem) {
	.sticky {
		padding-top: 144px;
	}
}

.top-header {
	background: white;
	height: 70px;
}

.main-header {
	background: white;
	height: 70px;
}

.sticky .main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

@media (min-width: 64.0625rem) {
	.main-header {
		height: 144px;
	}
}

.main-header__wrap {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	height: 100%;
	padding: 0 1rem;
	box-sizing: border-box;
}

.main-header__wrap:before, .main-header__wrap:after {
	content: "";
	display: table;
}

.main-header__wrap:after {
	clear: both;
}

@media (min-width: 64.0625rem) {
	.main-header__wrap {
		display: block;
		padding: 1rem 1rem 0;
	}
}

@media (min-width: 0) and (max-width: 60.0625rem) {
	.main-header__wrap.menu-open {
		background: #002c77;
	}
}

.main-header__menu-button {
	width: 48px;
	height: 40px;
	background: #002c77;
	border-radius: 0;
	border: none;
	margin-right: 26px;
	cursor: pointer;
}

@media (min-width: 64.0625rem) {
	.main-header__menu-button {
		display: none;
	}
}

.main-header__menu-button .burger {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-header__menu-button .burger, .main-header__menu-button .burger:before, .main-header__menu-button .burger:after {
	display: block;
	width: 34px;
	height: 4px;
	background-color: #FFFFFF;
	outline: 1px solid transparent;
	-webkit-transition-property: background-color, -webkit-transform;
	transition-property: background-color, -webkit-transform;
	transition-property: background-color, transform;
	transition-property: background-color, transform, -webkit-transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.main-header__menu-button .burger:before, .main-header__menu-button .burger:after {
	position: absolute;
	content: "";
}

.main-header__menu-button .burger:before {
	top: -10px;
}

.main-header__menu-button .burger:after {
	top: 10px;
}

.main-header__menu-button.active .burger {
	background-color: transparent;
}

.main-header__menu-button.active .burger:before {
	-webkit-transform: translateY(10px) rotate(45deg);
	-ms-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
}

.main-header__menu-button.active .burger:after {
	-webkit-transform: translateY(-10px) rotate(-45deg);
	-ms-transform: translateY(-10px) rotate(-45deg);
	transform: translateY(-10px) rotate(-45deg);
}

.main-header__title {
	color: #002c77;
	font-family: "noto_serifregular";
	font-size: 1.8rem;
	display: inline-block;
	margin-bottom: 0;
	-webkit-transition: color .25s ease-out;
	transition: color .25s ease-out;
}

@media (min-width: 64.0625rem) {
	.main-header__title {
		font-size: 3.5rem;
		line-height: 4.188rem;
		margin-bottom: 16px;
	}
}

.menu-open .main-header__title {
	color: white;
}

.main-header__menu {
	position: absolute;
	z-index: 10;
	top: 70px;
	left: -100%;
	width: 100%;
	height: -webkit-calc(100vh - 140px);
	height: calc(100vh - 140px);
	background: #002c77;
	-webkit-transition: left .4s ease-out;
	transition: left .4s ease-out;
	overflow: scroll;
}

@media (min-width: 64.0625rem) {
	.main-header__menu {
		background: transparent;
		position: static;
		height: auto;
		overflow: visible;
	}
}

.menu-open .main-header__menu {
	left: 0;
}

.sticky .main-header__menu {
	height: -webkit-calc(100vh - 70px);
	height: calc(100vh - 70px);
}

@media (min-width: 64.0625rem) {
	.sticky .main-header__menu {
		height: auto;
	}
}

.main-header__menu__wrap {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header__menu__item {
	width: 100%;
	border-width: 1px 0;
	border-style: solid;
	border-top-color: #002c85;
	border-bottom-color: #274e8d;
	position: relative;
}

@media (min-width: 64.0625rem) {
	.main-header__menu__item {
		display: inline-block;
		width: auto;
		border-width: 0 1px;
		border-right-color: #d8d8d8;
		border-left-color: #7a7a7a;
		float: left;
	}
	.main-header__menu__item:first-of-type {
		border-width: 0 1px 0 0;
	}
	.main-header__menu__item:first-of-type a {
		padding-left: 0;
	}
	.main-header__menu__item:last-of-type {
		border-width: 0 0 0 1px;
	}
	.main-header__menu__item:last-of-type a {
		padding-right: 0;
	}
}

.main-header__menu__item a {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.813rem;
	position: relative;
	-webkit-transition: background .4s ease-out, color .4s ease-out;
	transition: background .4s ease-out, color .4s ease-out;
}

.main-header__menu__item a + span {
	position: absolute;
	width: -webkit-calc(100% - 12px);
	width: calc(100% - 12px);
	height: 3px;
	background: #0073cf;
	content: '';
	left: 6px;
	bottom: 0px;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity .4s ease-out, bottom .4s ease-out;
	transition: opacity .4s ease-out, bottom .4s ease-out;
}

@media (min-width: 75.0625rem) {
	.main-header__menu__item a + span {
		width: -webkit-calc(100% - 24px);
		width: calc(100% - 24px);
		left: 12px;
	}
}

@media (min-width: 64.0625rem) {
	.main-header__menu__item a {
		color: #002c77;
		font-size: 0.938rem;
		line-height: 1.375rem;
		padding: 0;
		margin: 0 6px;
		font-family: "noto_sansbold";
		-webkit-transition: padding .25s;
		transition: padding .25s;
	}
}

@media (min-width: 75.0625rem) {
	.main-header__menu__item a {
		margin: 0px 12px;
	}
}

.main-header__menu__item a:hover, .main-header__menu__item a:focus {
	color: #002c77;
	background: #bfcadd;
	-webkit-transition: background .25s ease-out, color .25s ease-out;
	transition: background .25s ease-out, color .25s ease-out;
}

@media (min-width: 64.0625rem) {
	.main-header__menu__item a:hover, .main-header__menu__item a:focus {
		background: transparent;
	}
}

@media (min-width: 64.0625rem) {
	.main-header__menu__item a:hover + span, .main-header__menu__item a:focus + span {
		-webkit-transition: opacity .25s ease-out, bottom .25s ease-out;
		transition: opacity .25s ease-out, bottom .25s ease-out;
		bottom: -10px;
		opacity: 1;
	}
}

.top-footer {
	background: #101d28;
}

.top-footer__wrap {
	padding: 2rem 1rem;
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.top-footer__wrap:before, .top-footer__wrap:after {
	content: "";
	display: table;
}

.top-footer__wrap:after {
	clear: both;
}

@media (min-width: 64.0625rem) {
	.top-footer__wrap {
		padding-bottom: 90px;
	}
}

.top-footer__title {
	color: #fefeff;
	font-family: "noto_serifregular";
	font-size: 1.5rem;
	line-height: 1.813rem;
	margin-bottom: 20px;
}

.top-footer__nav__item {
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.250rem;
	margin-bottom: 16px;
}

.top-footer__nav__item:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 64.0625rem) {
	.top-footer__nav__item {
		display: inline-block;
		width: auto;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-left-color: #73acca;
		float: left;
		margin-bottom: 0;
	}
	.top-footer__nav__item:first-of-type {
		border-width: 0;
	}
	.top-footer__nav__item:first-of-type a {
		padding-left: 0;
	}
	.top-footer__nav__item:last-of-type {
		border-width: 0 0 0 1px;
	}
	.top-footer__nav__item:last-of-type a {
		padding-right: 0;
	}
}

.top-footer__nav__item a {
	color: #73acca;
	font-size: 1rem;
	font-family: "noto_sansregular";
}

@media (min-width: 64.0625rem) {
	.top-footer__nav__item a {
		padding: 0px 6px;
		-webkit-transition: padding .25s;
		transition: padding .25s;
	}
}

@media (min-width: 75.0625rem) {
	.top-footer__nav__item a {
		padding: 0px 12px;
	}
}

.top-footer__nav__item a:hover, .top-footer__nav__item a:focus {
	text-decoration: underline;
}

.hero--home {
	height: -webkit-calc(100vh - 140px);
	height: calc(100vh - 140px);
	max-height: 720px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
}

@media (min-width: 30.0625rem) and (max-width: 45rem) {
	.hero--home {
		min-height: 280px;
		max-height: 380px;
	}
}

@media (min-width: 45.0625rem) {
	.hero--home {
		max-height: 480px;
		padding-top: 100px;
	}
}

.hero__wrap {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding: 0 1rem;
}

.hero__wrap:before, .hero__wrap:after {
	content: "";
	display: table;
}

.hero__wrap:after {
	clear: both;
}

.hero__label {
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1rem;
	background: #002c77;
	padding: 8px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	margin-top: 14px;
	text-transform: uppercase;
}

@media (min-width: 60.0625rem) {
	.hero__label {
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.hero__title {
	color: white;
	font-family: "noto_serifregular";
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 2.813rem;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.hero__title {
		font-size: 3.5rem;
		line-height: 4.188rem;
		max-width: 670px;
	}
}

.hero__excerpt {
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.375rem;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.hero__excerpt {
		font-size: 1.063rem;
		line-height: 1.688rem;
		max-width: 520px;
		margin-bottom: 20px;
	}
}

.hero__link {
	display: inline-block;
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.375rem;
	text-decoration: none;
	background: #e36f1e;
	border: solid 3px #e36f1e;
	padding: 1rem;
	position: relative;
	padding-right: 50px;
	-webkit-transition: background .4s ease-out, border-color .4s ease-out;
	transition: background .4s ease-out, border-color .4s ease-out;
}

@media (min-width: 60.0625rem) {
	.hero__link {
		padding-left: 25px;
	}
}

.hero__link:after {
	display: inline-block;
	font-family: 'icomoon', sans-serif;
	content: "";
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: absolute;
	right: 1rem;
	-webkit-transition: color .4s ease-out;
	transition: color .4s ease-out;
}

@media (min-width: 60.0625rem) {
	.hero__link:after {
		right: 24px;
	}
}

.hero__link:hover, .hero__link:focus {
	border-color: white;
	background: transparent;
	-webkit-transition: background .25s ease-out, border-color .25s ease-out;
	transition: background .25s ease-out, border-color .25s ease-out;
}

.hero__link:hover:after, .hero__link:focus:after {
	-webkit-transition: color .25s ease-out;
	transition: color .25s ease-out;
	color: #e36f1e;
}

.photo-tiles {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 40px 0;
}

@media (min-width: 60.0625rem) {
	.photo-tiles {
		padding: 1rem 0 2rem;
	}
}

.photo-tiles__slider {
	position: relative;
	margin: 0;
	list-style: none;
	width: -webkit-calc(1500% - 45rem);
	width: calc(1500% - 45rem);
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 1rem;
}

@media (min-width: 40.0625rem) {
	.photo-tiles__slider {
		width: -webkit-calc(750% - 45rem);
		width: calc(750% - 45rem);
	}
}

@media (min-width: 60.0625rem) {
	.photo-tiles__slider {
		padding: 0;
		width: 300%;
		height: 420px;
		display: block;
	}
}

@media (min-width: 64.0625rem) {
	.photo-tiles__slider {
		height: 460px;
	}
}

@media (min-width: 75.0625rem) {
	.photo-tiles__slider {
		height: 510px;
	}
}

.photo-tiles__item {
	width: 33.3333%;
	float: left;
}

.photo-tiles__item:before, .photo-tiles__item:after {
	content: "";
	display: table;
}

.photo-tiles__item:after {
	clear: both;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__item {
		height: 100%;
	}
}

.photo-tiles__link:hover .tile__image, .photo-tiles__link:focus .tile__image {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-transition: -webkit-transform .25s ease-out;
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.photo-tiles__link:hover .tile__gradient, .photo-tiles__link:focus .tile__gradient {
	opacity: 0;
	-webkit-transition: opacity .25s ease-out;
	transition: opacity .25s ease-out;
}

.photo-tiles__link:hover .tile__label, .photo-tiles__link:focus .tile__label {
	background: #0073cf;
	-webkit-transition: background .25s ease-out;
	transition: background .25s ease-out;
}

.tile--left {
	display: inline-block;
	width: 20%;
	float: left;
	position: relative;
	overflow: hidden;
}

@media (min-width: 60.0625rem) {
	.tile--left {
		width: -webkit-calc(50% - 136px);
		width: calc(50% - 136px);
		height: 100%;
	}
	.tile--left .tile__content {
		padding-right: 112px;
		float: right;
	}
}

@media (min-width: 75.0625rem) {
	.tile--left {
		width: -webkit-calc(50% - 184px);
		width: calc(50% - 184px);
	}
}

@media (min-width: 100.0625rem) {
	.tile--left {
		width: -webkit-calc(50% - 232px);
		width: calc(50% - 232px);
	}
}

.tile--center {
	float: left;
	position: relative;
	width: 40%;
	overflow: hidden;
}

.tile--center:before, .tile--center:after {
	content: "";
	display: table;
}

.tile--center:after {
	clear: both;
}

@media (min-width: 60.0625rem) {
	.tile--center {
		width: 272px;
		height: 100%;
	}
}

@media (min-width: 75.0625rem) {
	.tile--center {
		width: 368px;
	}
}

@media (min-width: 100.0625rem) {
	.tile--center {
		width: 464px;
	}
}

.tile--right {
	float: left;
	position: relative;
	width: 40%;
	overflow: hidden;
	background: #00747a;
}

.tile--right:before, .tile--right:after {
	content: "";
	display: table;
}

.tile--right:after {
	clear: both;
}

@media (min-width: 60.0625rem) {
	.tile--right {
		width: -webkit-calc(50% - 136px);
		width: calc(50% - 136px);
		height: 100%;
	}
	.tile--right .tile__content {
		padding-left: 42px;
		float: left;
	}
}

@media (min-width: 75.0625rem) {
	.tile--right {
		width: -webkit-calc(50% - 184px);
		width: calc(50% - 184px);
	}
}

@media (min-width: 100.0625rem) {
	.tile--right {
		width: -webkit-calc(50% - 232px);
		width: calc(50% - 232px);
	}
}

.tile__split--half {
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}

@media (min-width: 60.0625rem) {
	.tile__split--half {
		width: 100%;
		height: 50%;
	}
}

.tile__split--one-third {
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}

@media (min-width: 60.0625rem) {
	.tile__split--one-third {
		width: 100%;
		height: 33.3334%;
	}
}

.tile__split--two-thirds {
	display: inline-block;
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}

@media (min-width: 60.0625rem) {
	.tile__split--two-thirds {
		width: 100%;
		height: 66.6666%;
	}
}

.tile__image {
	margin: 0;
	height: 100%;
	overflow: hidden;
	-webkit-transition: -webkit-transform .4s ease-out;
	transition: -webkit-transform .4s ease-out;
	transition: transform .4s ease-out;
	transition: transform .4s ease-out, -webkit-transform .4s ease-out;
}

.tile__image img {
	width: 100%;
	display: block;
}

@media (min-width: 60.0625rem) {
	.tile__image img {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: relative;
		left: 50%;
		top: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		    -ms-transform: translateX(-50%) translateY(-50%);
		        transform: translateX(-50%) translateY(-50%);
	}
}

.tile__wrap {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.tile__gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	padding: 50% 1rem 1rem;
	opacity: 1;
	background: -webkit-linear-gradient(bottom, #000101 0%, transparent 50%, transparent 100%);
	background: linear-gradient(to top, #000101 0%, transparent 50%, transparent 100%);
	-webkit-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out;
}

.tile__label {
	color: white;
	font-family: "noto_sansregular";
	font-size: 0.625em;
	line-height: 1rem;
	background: #002c77;
	padding: 4px 8px;
	text-transform: uppercase;
	-webkit-transition: background .4s ease-out;
	transition: background .4s ease-out;
}

@media (min-width: 60.0625rem) {
	.tile__label {
		font-size: 0.75rem;
		padding: .5rem 1rem;
		display: inline-block;
	}
}

.tile__title {
	color: white;
	font-family: "noto_sansregular";
	font-size: 1.313rem;
	font-weight: 400;
	line-height: 2.125rem;
	margin-bottom: 0;
}

.tile__content {
	position: relative;
	z-index: 1;
}

@media (min-width: 60.0625rem) {
	.tile__content {
		max-width: 384px;
	}
}

.quiz {
	height: 100%;
	background: #00747a;
	box-sizing: border-box;
}

.quiz__wrap {
	max-width: 384px;
	height: 100%;
	padding: 40px 0 60px 42px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	position: relative;
}

.quiz__title {
	color: #2ddce5;
	font-family: "noto_serifregular";
	font-size: 1.750rem;
	line-height: 2.125rem;
	margin-bottom: 24px;
}

.quiz__questions {
	width: 400%;
	position: relative;
	left: 0;
}

.quiz__question {
	color: white;
	font-family: "noto_sansbold";
	font-size: 1rem;
	line-height: 1.688em;
}

.quiz__radio {
	margin-right: 10px;
}

.quiz__item {
	width: 25%;
	display: inline-block;
	float: left;
}

.quiz__label {
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.688em;
}

.quiz__legend {
	position: absolute;
	bottom: 40px;
	left: 42px;
	max-width: 384px;
	color: white;
	font-family: "noto_sansregular";
	font-size: .813rem;
	line-height: .813rem;
	text-transform: uppercase;
}

.quiz__button {
	min-width: 104px;
	height: 48px;
	padding: 0 20px;
	text-align: center;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 0;
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	position: absolute;
	right: 0;
	bottom: 22px;
}

.quiz__button:after {
	content: "";
	font-family: "icomoon";
	display: inline-block;
	vertical-align: baseline;
	margin-left: 10px;
}

.photo-tiles__controls {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: absolute;
	width: 100%;
	height: 1px;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__controls {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		top: -webkit-calc(210px + 16px);
		top: calc(210px + 16px);
	}
}

@media (min-width: 64.0625rem) {
	.photo-tiles__controls {
		top: -webkit-calc(230px + 16px);
		top: calc(230px + 16px);
	}
}

@media (min-width: 75.0625rem) {
	.photo-tiles__controls {
		top: -webkit-calc(255px + 16px);
		top: calc(255px + 16px);
	}
}

.photo-tiles__controls .prev, .photo-tiles__controls .next {
	background: transparent;
	border: none;
	position: absolute;
	color: white;
	font-size: 2.5rem;
	padding: 0;
	cursor: pointer;
	width: 47px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: background .4s ease-out, color .4s ease-out;
	transition: background .4s ease-out, color .4s ease-out;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__controls .prev, .photo-tiles__controls .next {
		font-size: 4rem;
		width: 73px;
		height: 73px;
		background: rgba(0, 0, 0, 0.18);
		border-radius: 100%;
	}
}

.photo-tiles__controls .prev:before, .photo-tiles__controls .next:before {
	font-family: "icomoon";
}

@media (min-width: 60.0625rem) {
	.photo-tiles__controls .prev:hover, .photo-tiles__controls .prev:focus, .photo-tiles__controls .next:hover, .photo-tiles__controls .next:focus {
		background: rgba(255, 255, 255, 0.48);
		color: #00747a;
		-webkit-transition: background .25s ease-out, color .25s ease-out;
		transition: background .25s ease-out, color .25s ease-out;
	}
}

.photo-tiles__controls .prev {
	left: 0;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__controls .prev {
		left: 3.5rem;
	}
}

.photo-tiles__controls .prev:before {
	content: "";
}

.photo-tiles__controls .next {
	right: 0;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__controls .next {
		right: 3.5rem;
	}
}

.photo-tiles__controls .next:before {
	content: "";
}

.photo-tiles__chapters {
	display: none;
}

@media (min-width: 60.0625rem) {
	.photo-tiles__chapters {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 62px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.photo-tiles__chapters__button {
	border-radius: 100%;
	background: transparent;
	border: solid 2px #c4dbe2;
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	margin: 0 1rem;
	-webkit-transition: background .4s ease-out;
	transition: background .4s ease-out;
}

.photo-tiles__chapters__button:first-of-type {
	margin-left: 0;
}

.photo-tiles__chapters__button:last-of-type {
	margin-right: 0;
}

.photo-tiles__chapters__button:hover, .photo-tiles__chapters__button:focus, .photo-tiles__chapters__button.active {
	cursor: pointer;
	background: #c4dbe2;
	-webkit-transition: background .25s ease-out;
	transition: background .25s ease-out;
}

.photo-tiles__buttons {
	border-radius: 100%;
	background: transparent;
}

.quick-links {
	background: #ebb700;
}

.quick-links__wrap {
	padding: 0 2rem;
	margin: 0;
	list-style: none;
}

.quick-links__wrap:before, .quick-links__wrap:after {
	content: "";
	display: table;
}

.quick-links__wrap:after {
	clear: both;
}

@media (min-width: 50.0625rem) {
	.quick-links__wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.quick-links__item {
	display: inline-block;
	width: -webkit-calc(50% - .5rem);
	width: calc(50% - .5rem);
	text-align: center;
	float: left;
	border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

@media (min-width: 50.0625rem) {
	.quick-links__item {
		width: 25%;
		border-bottom: none;
	}
	.quick-links__item .quick-links__item__wrap {
		border-right: solid 1px rgba(255, 255, 255, 0.5);
	}
	.quick-links__item:last-of-type .quick-links__item__wrap {
		border-right: none;
	}
}

.quick-links__item:nth-of-type(even) {
	float: right;
}

.quick-links__item:nth-of-type(odd) .quick-links__item__wrap {
	position: relative;
}

.quick-links__item:nth-of-type(odd) .quick-links__item__wrap:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 0;
	right: -8px;
}

@media (min-width: 50.0625rem) {
	.quick-links__item:nth-of-type(odd) .quick-links__item__wrap:after {
		display: none;
	}
}

.quick-links__item a {
	color: white;
	text-shadow: 2px 2.2px 7px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	display: block;
}

.quick-links__item a [class^="icon-"]:before, .quick-links__item a [class*=" icon-"]:before {
	font-size: 5rem;
	position: relative;
	bottom: 0;
	-webkit-transition: bottom .4s ease-out;
	transition: bottom .4s ease-out;
}

.quick-links__item a [class^="icon-"]:after, .quick-links__item a [class*=" icon-"]:after {
	width: 5rem;
	height: 2px;
	background: white;
	content: '';
	display: block;
	margin: 10px auto 16px;
}

.quick-links__item a:hover [class^="icon-"]:before, .quick-links__item a:hover [class*=" icon-"]:before, .quick-links__item a:focus [class^="icon-"]:before, .quick-links__item a:focus [class*=" icon-"]:before {
	bottom: 10px;
	-webkit-transition: bottom .25s ease-out;
	transition: bottom .25s ease-out;
}

.quick-links__item__wrap {
	width: 100%;
	display: block;
	margin: 1rem 0;
}

.quick-links__label {
	text-align: center;
	display: block;
	color: #8a4023;
	font-family: "noto_sansbold";
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	text-transform: uppercase;
}

.newsfeed {
	background: white;
	padding: 40px 0;
}

.newsfeed:before, .newsfeed:after {
	content: "";
	display: table;
}

.newsfeed:after {
	clear: both;
}

@media (min-width: 60.0625rem) {
	.newsfeed {
		padding: 60px 0;
	}
}

.newsfeed__wrap {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding: 0 1rem;
}

.newsfeed__wrap:before, .newsfeed__wrap:after {
	content: "";
	display: table;
}

.newsfeed__wrap:after {
	clear: both;
}

.newsfeed__item {
	width: 100%;
	margin-bottom: 20px;
}

@media (min-width: 50.0625rem) {
	.newsfeed__item {
		width: 48.57143%;
		float: left;
		margin-right: 2.85714%;
		margin-bottom: 0;
	}
	.newsfeed__item:nth-of-type(2n) {
		width: 48.57143%;
		float: right;
		margin-right: 0;
	}
}

.newsfeed iframe {
	max-width: 100%;
}

.trending__title, .most-viewed__title {
	color: black;
	font-family: "noto_sansbold";
	font-size: 1.313rem;
	line-height: 1.75rem;
	text-align: center;
	margin-bottom: 30px;
}

.trending__item {
	display: inline-block;
	margin-bottom: 6px;
}

.trending__item:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 60.0625rem) {
	.trending__item {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

.trending__item a {
	color: #0070c9;
	font-family: "noto_sansregular";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.688rem;
	background-color: rgba(0, 115, 207, 0.1);
	padding: 7px 20px;
	border-radius: 10px;
	display: block;
	text-decoration: none;
	border: solid 2px rgba(204, 227, 245, 0);
	-webkit-transition: background .4s ease-out, border .4s ease-out, color .4s ease-out;
	transition: background .4s ease-out, border .4s ease-out, color .4s ease-out;
}

.trending__item a:hover, .trending__item a:focus {
	color: #002c77;
	-webkit-transition: background .25s ease-out, border .25s ease-out, color .25s ease-out;
	transition: background .25s ease-out, border .25s ease-out, color .25s ease-out;
	background: transparent;
	border: solid 2px #cce3f5;
}

.most-viewed__item {
	color: black;
	position: relative;
	border-bottom: solid 1px #e1e1e1;
}

.most-viewed__item a {
	display: block;
	padding: 10px 20px 10px 50px;
	color: black;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.688rem;
	-webkit-transition: color .4s ease-out;
	transition: color .4s ease-out;
}

@media (min-width: 60.0625rem) {
	.most-viewed__item a {
		font-size: 1.125rem;
		padding: 1rem 20px 1rem 50px;
	}
}

.most-viewed__item a:before {
	font-family: "icomoon";
	position: absolute;
	left: 0;
	top: 15px;
	border: solid 1px #c75b12;
	border-radius: 100%;
	width: 32px;
	height: 32px;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #c75b12;
	text-align: center;
	-webkit-transition: color .4s ease-out, background .4s ease-out;
	transition: color .4s ease-out, background .4s ease-out;
}

@media (min-width: 50.0625rem) {
	.most-viewed__item a:before {
		top: -webkit-calc(50% - 16px);
		top: calc(50% - 16px);
	}
}

.most-viewed__item a:hover, .most-viewed__item a:focus {
	color: #c75b12;
	-webkit-transition: color .25s .15s ease-out;
	transition: color .25s .15s ease-out;
}

.most-viewed__item a:hover:before, .most-viewed__item a:focus:before {
	background: #c75b12;
	color: white;
	-webkit-transition: color .25s ease-out, background .25s ease-out;
	transition: color .25s ease-out, background .25s ease-out;
}

.most-viewed__label {
	display: block;
	text-transform: uppercase;
	color: #00747a;
	font-family: "noto_sansbold";
	font-size: .75rem;
	line-height: 1rem;
}

.service {
	text-align: center;
	margin-bottom: 48px;
}

.service__title {
	color: black;
	font-family: "noto_serifregular";
	font-size: 1.75rem;
	line-height: 2.125rem;
	margin-bottom: 16px;
}

@media (min-width: 60.0625rem) {
	.service__title {
		font-size: 2.313rem;
		line-height: 2.750rem;
		margin-bottom: 1.5rem;
	}
}

.service__excerpt {
	color: black;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.625rem;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.service__excerpt {
		font-size: 1.125rem;
		line-height: 1.688rem;
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 60.0625rem) {
	.service__link {
		max-width: 75%;
	}
}

.events {
	background-image: url(http://placecorgi.com/1280/720/);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	padding: 24px 0 40px;
}

@media (min-width: 50.0625rem) {
	.events {
		padding: 3.5rem 0 4rem;
	}
	.events:before, .events:after {
		content: "";
		display: table;
	}
	.events:after {
		clear: both;
	}
}

.events:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 115, 207, 0.49);
}

.events__title {
	position: relative;
	z-index: 2;
	text-align: center;
	color: white;
	font-family: "noto_serifregular";
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 2.75rem;
	margin-bottom: 12px;
}

@media (min-width: 60.0625rem) {
	.events__title {
		font-size: 2.313rem;
		line-height: 2.75rem;
		margin-bottom: 1.5rem;
	}
}

.events__wrap {
	position: relative;
	z-index: 2;
	padding: 0 1rem;
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.events__wrap:before, .events__wrap:after {
	content: "";
	display: table;
}

.events__wrap:after {
	clear: both;
}

@media (min-width: 50.0625rem) {
	.events__wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
	}
}

.event__listing {
	background-color: white;
	margin-bottom: 30px;
	position: relative;
	padding: 0 1rem 46px;
	text-align: center;
}

@media (min-width: 50.0625rem) {
	.event__listing {
		width: 48.57143%;
		float: left;
		margin-right: 2.85714%;
		margin-bottom: 0;
	}
	.event__listing:nth-of-type(2n) {
		width: 48.57143%;
		float: right;
		margin-right: 0;
	}
}

@media (min-width: 60.0625rem) {
	.event__listing {
		width: 44.28571%;
		float: left;
		margin-right: 2.85714%;
		padding: 0 2.5rem 3.5rem;
	}
	.event__listing:nth-of-type(2n) {
		width: 44.28571%;
		float: right;
		margin-right: 0;
	}
}

.event__listing:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 22px;
	background-image: url(../images/lt_blue_lines.png);
	background-repeat: repeat;
	background-position: center bottom;
}

.event__listing:last-of-type {
	margin-bottom: 0;
}

.event__listing__label {
	color: white;
	font-family: "noto_sansregular";
	font-size: .625rem;
	font-weight: 400;
	line-height: .625rem;
	display: table;
	margin: 0 auto 25px;
	padding: 8px 5px;
	min-width: 82px;
	background: #002c77;
	text-transform: uppercase;
}

@media (min-width: 60.0625rem) {
	.event__listing__label {
		margin-bottom: 30px;
		font-size: 0.75rem;
		padding: .5rem 1rem;
	}
}

.event__listing__title {
	color: #002c77;
	font-family: "noto_sansbold";
	font-size: 1.313rem;
	line-height: 1.5rem;
	margin-bottom: 16px;
}

@media (min-width: 60.0625rem) {
	.event__listing__title {
		font-size: 1.563rem;
		line-height: 2.125rem;
	}
}

.event__listing__excerpt {
	color: black;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.688rem;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.event__listing__excerpt {
		font-size: 1.063rem;
	}
}

.event__listing__link, .service__link {
	display: inline-block;
	max-width: 240px;
	background-color: #e36f1e;
	border: solid 2px #e36f1e;
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.375em;
	position: relative;
	padding: .75rem 40px .75rem 1rem;
	box-sizing: border-box;
	-webkit-transition: background .4s ease-out, color .4s ease-out;
	transition: background .4s ease-out, color .4s ease-out;
}

.event__listing__link:hover, .service__link:hover, .event__listing__link:focus, .service__link:focus {
	-webkit-transition: background .25s ease-out, color .25s ease-out;
	transition: background .25s ease-out, color .25s ease-out;
	background: transparent;
	color: #e36f1e;
}

@media (min-width: 60.0625rem) {
	.event__listing__link, .service__link {
		max-width: initial;
	}
}

.event__listing__link .desktop, .service__link .desktop {
	display: none;
}

@media (min-width: 60.0625rem) {
	.event__listing__link .desktop, .service__link .desktop {
		display: inline;
	}
}

.event__listing__link:after, .service__link:after {
	font-family: "icomoon";
	content: "";
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: absolute;
	right: 1rem;
}

.e-book {
	background-image: url(../images/lt_blue_lines.png);
	background-repeat: repeat;
	padding: 26px 1rem 32px;
}

@media (min-width: 60.0625rem) {
	.e-book {
		padding: 3rem 1rem;
	}
}

.e-book__wrap {
	border: solid 1rem white;
	background: #efeddf;
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 73rem;
}

.e-book__wrap:before, .e-book__wrap:after {
	content: "";
	display: table;
}

.e-book__wrap:after {
	clear: both;
}

@media (min-width: 60.0625rem) {
	.e-book__wrap {
		padding-left: 0;
		padding-right: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
	}
	.e-book__wrap:before, .e-book__wrap:after {
		content: "";
		display: table;
	}
	.e-book__wrap:after {
		clear: both;
	}
}

.e-book__title {
	color: #002c77;
	font-family: "noto_sansbold";
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.e-book__title {
		text-align: left;
	}
}

.e-book__content {
	color: black;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.688em;
	margin-bottom: 10px;
}

@media (min-width: 60.0625rem) {
	.e-book__content {
		text-align: left;
	}
}

.e-book__form:before, .e-book__form:after {
	content: "";
	display: table;
}

.e-book__form:after {
	clear: both;
}

.e-book__input {
	width: 100%;
	display: block;
	height: 48px;
	color: #464646;
	font-family: "noto_sansregular";
	font-size: .875em;
	text-align: center;
	border: none;
	box-sizing: border-box;
}

@media (min-width: 60.0625rem) {
	.e-book__input {
		width: -webkit-calc(100% - 115px);
		width: calc(100% - 115px);
		float: left;
		text-align: left;
		padding: 0 1.5rem;
	}
}

.e-book__button {
	border-radius: 0;
	display: table;
	margin: 10px auto 0;
	background: #e36f1e;
	border: solid 2px #e36f1e;
	height: 48px;
	padding: 0 10px;
	min-width: 134px;
	color: white;
	font-family: "noto_sansregular";
	font-size: 1rem;
	line-height: 1.375em;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: background .4s ease-out, color .4s ease-out;
	transition: background .4s ease-out, color .4s ease-out;
}

.e-book__button:hover, .e-book__button:focus {
	background: transparent;
	color: #e36f1e;
	-webkit-transition: background .25s ease-out, color .25s ease-out;
	transition: background .25s ease-out, color .25s ease-out;
}

@media (min-width: 60.0625rem) {
	.e-book__button {
		min-width: 115px;
		width: 115px;
		float: right;
		margin: 0;
	}
}

.e-book__order-form {
	padding: 1.5rem;
}

@media (min-width: 60.0625rem) {
	.e-book__order-form {
		width: 50%;
		padding: 2rem;
		padding-right: 4rem;
	}
}

.e-book__image {
	display: none;
	border-left: solid 1rem white;
	position: relative;
	overflow: hidden;
}

@media (min-width: 60.0625rem) {
	.e-book__image {
		display: block;
		width: 50%;
	}
}

.e-book__image img {
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	display: block;
}

.four-col,
.col-4,
.c4 {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.four-col:before, .four-col:after,
.col-4:before,
.col-4:after,
.c4:before,
.c4:after {
	content: "";
	display: table;
}

.four-col:after,
.col-4:after,
.c4:after {
	clear: both;
}

.four-col.contain,
.col-4.contain,
.c4.contain {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.four-col.contain:before, .four-col.contain:after,
.col-4.contain:before,
.col-4.contain:after,
.c4.contain:before,
.c4.contain:after {
	content: "";
	display: table;
}

.four-col.contain:after,
.col-4.contain:after,
.c4.contain:after {
	clear: both;
}

@media (min-width: 45.0625rem) {
	.four-col-item, .four-col-i, .four-coli,
	.col-4-item,
	.col-4-i,
	.col-4i,
	.c4-item,
	.c4-i,
	.c4i {
		float: left;
		width: 48.57143%;
		margin-right: 2.85714%;
		font-size: 1rem;
	}
	.four-col-item:nth-child(2n), .four-col-i:nth-child(2n), .four-coli:nth-child(2n),
	.col-4-item:nth-child(2n),
	.col-4-i:nth-child(2n),
	.col-4i:nth-child(2n),
	.c4-item:nth-child(2n),
	.c4-i:nth-child(2n),
	.c4i:nth-child(2n) {
		margin-right: 0;
	}
	.four-col-item:nth-child(2n+1), .four-col-i:nth-child(2n+1), .four-coli:nth-child(2n+1),
	.col-4-item:nth-child(2n+1),
	.col-4-i:nth-child(2n+1),
	.col-4i:nth-child(2n+1),
	.c4-item:nth-child(2n+1),
	.c4-i:nth-child(2n+1),
	.c4i:nth-child(2n+1) {
		clear: both;
	}
}

@media (min-width: 64.0625rem) {
	.four-col-item, .four-col-i, .four-coli,
	.col-4-item,
	.col-4-i,
	.col-4i,
	.c4-item,
	.c4-i,
	.c4i {
		width: 22.85714%;
	}
	.four-col-item:nth-child(2n), .four-col-i:nth-child(2n), .four-coli:nth-child(2n),
	.col-4-item:nth-child(2n),
	.col-4-i:nth-child(2n),
	.col-4i:nth-child(2n),
	.c4-item:nth-child(2n),
	.c4-i:nth-child(2n),
	.c4i:nth-child(2n) {
		margin-right: 2.85714%;
	}
	.four-col-item:nth-child(2n+1), .four-col-i:nth-child(2n+1), .four-coli:nth-child(2n+1),
	.col-4-item:nth-child(2n+1),
	.col-4-i:nth-child(2n+1),
	.col-4i:nth-child(2n+1),
	.c4-item:nth-child(2n+1),
	.c4-i:nth-child(2n+1),
	.c4i:nth-child(2n+1) {
		clear: none;
	}
	.four-col-item:nth-child(4n), .four-col-i:nth-child(4n), .four-coli:nth-child(4n),
	.col-4-item:nth-child(4n),
	.col-4-i:nth-child(4n),
	.col-4i:nth-child(4n),
	.c4-item:nth-child(4n),
	.c4-i:nth-child(4n),
	.c4i:nth-child(4n) {
		margin-right: 0;
	}
	.four-col-item:nth-child(4n+1), .four-col-i:nth-child(4n+1), .four-coli:nth-child(4n+1),
	.col-4-item:nth-child(4n+1),
	.col-4-i:nth-child(4n+1),
	.col-4i:nth-child(4n+1),
	.c4-item:nth-child(4n+1),
	.c4-i:nth-child(4n+1),
	.c4i:nth-child(4n+1) {
		clear: both;
	}
}

@supports (display: flex) {
	.four-col,
	.col-4,
	.c4 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.four-col:after,
	.col-4:after,
	.c4:after {
		content: '';
		-webkit-box-flex: 1;
		-webkit-flex: auto;
		    -ms-flex: auto;
		        flex: auto;
	}
	.four-col-item, .four-col-i, .four-coli,
	.col-4-item,
	.col-4-i,
	.col-4i,
	.c4-item,
	.c4-i,
	.c4i {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	@media (min-width: 45.0625rem) {
		.four-col-item, .four-col-i, .four-coli,
		.col-4-item,
		.col-4-i,
		.col-4i,
		.c4-item,
		.c4-i,
		.c4i {
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 48.57143%;
			    -ms-flex: 0 1 48.57143%;
			        flex: 0 1 48.57143%;
		}
	}
	@media (min-width: 64.0625rem) {
		.four-col-item, .four-col-i, .four-coli,
		.col-4-item,
		.col-4-i,
		.col-4i,
		.c4-item,
		.c4-i,
		.c4i {
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 22.85714%;
			    -ms-flex: 0 1 22.85714%;
			        flex: 0 1 22.85714%;
		}
	}
}

#logo-svg {
	min-height: 3rem;
	background: url(https://hopkinsmedicine.org/sebin/x/a/jhmLogo-color2x.png) left top/contain;
	background-image: url(https://hopkinsmedicine.org/sebin/p/q/jhmLogo-color.svg);
	background-repeat: no-repeat;
}

.masthead {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
}

.masthead:before, .masthead:after {
	content: "";
	display: table;
}

.masthead:after {
	clear: both;
}

.masthead .jhm-logo {
	display: inline-block;
}

.masthead .logo-set {
	position: relative;
	width: 12rem;
	cursor: pointer;
}

.masthead .logo-set:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}

.masthead #logo-svg {
	width: 12rem;
}

.three-col,
.col-3,
.c3 {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.three-col:before, .three-col:after,
.col-3:before,
.col-3:after,
.c3:before,
.c3:after {
	content: "";
	display: table;
}

.three-col:after,
.col-3:after,
.c3:after {
	clear: both;
}

.three-col.contain,
.col-3.contain,
.c3.contain {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.three-col.contain:before, .three-col.contain:after,
.col-3.contain:before,
.col-3.contain:after,
.c3.contain:before,
.c3.contain:after {
	content: "";
	display: table;
}

.three-col.contain:after,
.col-3.contain:after,
.c3.contain:after {
	clear: both;
}

@media (min-width: 45.0625rem) {
	.three-col-item, .three-col-i, .three-coli,
	.col-3-item,
	.col-3-i,
	.col-3i,
	.c3-item,
	.c3-i,
	.c3i {
		float: left;
		width: 48.57143%;
		margin-right: 2.85714%;
	}
	.three-col-item:nth-child(2n), .three-col-i:nth-child(2n), .three-coli:nth-child(2n),
	.col-3-item:nth-child(2n),
	.col-3-i:nth-child(2n),
	.col-3i:nth-child(2n),
	.c3-item:nth-child(2n),
	.c3-i:nth-child(2n),
	.c3i:nth-child(2n) {
		margin-right: 0;
	}
	.three-col-item:nth-child(2n+1), .three-col-i:nth-child(2n+1), .three-coli:nth-child(2n+1),
	.col-3-item:nth-child(2n+1),
	.col-3-i:nth-child(2n+1),
	.col-3i:nth-child(2n+1),
	.c3-item:nth-child(2n+1),
	.c3-i:nth-child(2n+1),
	.c3i:nth-child(2n+1) {
		clear: both;
	}
}

@media (min-width: 60.0625rem) {
	.three-col-item, .three-col-i, .three-coli,
	.col-3-item,
	.col-3-i,
	.col-3i,
	.c3-item,
	.c3-i,
	.c3i {
		width: 31.42857%;
	}
	.three-col-item:nth-child(2n), .three-col-i:nth-child(2n), .three-coli:nth-child(2n),
	.col-3-item:nth-child(2n),
	.col-3-i:nth-child(2n),
	.col-3i:nth-child(2n),
	.c3-item:nth-child(2n),
	.c3-i:nth-child(2n),
	.c3i:nth-child(2n) {
		margin-right: 2.85714%;
	}
	.three-col-item:nth-child(2n+1), .three-col-i:nth-child(2n+1), .three-coli:nth-child(2n+1),
	.col-3-item:nth-child(2n+1),
	.col-3-i:nth-child(2n+1),
	.col-3i:nth-child(2n+1),
	.c3-item:nth-child(2n+1),
	.c3-i:nth-child(2n+1),
	.c3i:nth-child(2n+1) {
		clear: none;
	}
	.three-col-item:nth-child(3n), .three-col-i:nth-child(3n), .three-coli:nth-child(3n),
	.col-3-item:nth-child(3n),
	.col-3-i:nth-child(3n),
	.col-3i:nth-child(3n),
	.c3-item:nth-child(3n),
	.c3-i:nth-child(3n),
	.c3i:nth-child(3n) {
		margin-right: 0;
	}
	.three-col-item:nth-child(3n+1), .three-col-i:nth-child(3n+1), .three-coli:nth-child(3n+1),
	.col-3-item:nth-child(3n+1),
	.col-3-i:nth-child(3n+1),
	.col-3i:nth-child(3n+1),
	.c3-item:nth-child(3n+1),
	.c3-i:nth-child(3n+1),
	.c3i:nth-child(3n+1) {
		clear: both;
	}
}

@supports (display: flex) {
	.three-col,
	.col-3,
	.c3 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.three-col:after,
	.col-3:after,
	.c3:after {
		content: '';
		-webkit-box-flex: 1;
		-webkit-flex: auto;
		    -ms-flex: auto;
		        flex: auto;
	}
	.three-col-item, .three-col-i, .three-coli,
	.col-3-item,
	.col-3-i,
	.col-3i,
	.c3-item,
	.c3-i,
	.c3i {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	@media (min-width: 45.0625rem) {
		.three-col-item, .three-col-i, .three-coli,
		.col-3-item,
		.col-3-i,
		.col-3i,
		.c3-item,
		.c3-i,
		.c3i {
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 48.57143%;
			    -ms-flex: 0 1 48.57143%;
			        flex: 0 1 48.57143%;
		}
	}
	@media (min-width: 60.0625rem) {
		.three-col-item, .three-col-i, .three-coli,
		.col-3-item,
		.col-3-i,
		.col-3i,
		.c3-item,
		.c3-i,
		.c3i {
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 31.42857%;
			    -ms-flex: 0 1 31.42857%;
			        flex: 0 1 31.42857%;
		}
	}
}

.two-col,
.col-2,
.c2 {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.two-col:before, .two-col:after,
.col-2:before,
.col-2:after,
.c2:before,
.c2:after {
	content: "";
	display: table;
}

.two-col:after,
.col-2:after,
.c2:after {
	clear: both;
}

.two-col.contain,
.col-2.contain,
.c2.contain {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.two-col.contain:before, .two-col.contain:after,
.col-2.contain:before,
.col-2.contain:after,
.c2.contain:before,
.c2.contain:after {
	content: "";
	display: table;
}

.two-col.contain:after,
.col-2.contain:after,
.c2.contain:after {
	clear: both;
}

@media (min-width: 45.0625rem) {
	.two-col-left, .two-col-right, .two-coli, .two-coll, .two-colr,
	.col-2-left,
	.col-2-right,
	.col-2i,
	.col-2l,
	.col-2r,
	.c2-left,
	.c2-right,
	.c2i,
	.c2l,
	.c2r {
		float: left;
		width: 48.57143%;
		margin-right: 2.85714%;
	}
	.two-col-left:nth-child(2n), .two-col-right:nth-child(2n), .two-coli:nth-child(2n), .two-coll:nth-child(2n), .two-colr:nth-child(2n),
	.col-2-left:nth-child(2n),
	.col-2-right:nth-child(2n),
	.col-2i:nth-child(2n),
	.col-2l:nth-child(2n),
	.col-2r:nth-child(2n),
	.c2-left:nth-child(2n),
	.c2-right:nth-child(2n),
	.c2i:nth-child(2n),
	.c2l:nth-child(2n),
	.c2r:nth-child(2n) {
		margin-right: 0;
	}
	.two-col-left:nth-child(2n+1), .two-col-right:nth-child(2n+1), .two-coli:nth-child(2n+1), .two-coll:nth-child(2n+1), .two-colr:nth-child(2n+1),
	.col-2-left:nth-child(2n+1),
	.col-2-right:nth-child(2n+1),
	.col-2i:nth-child(2n+1),
	.col-2l:nth-child(2n+1),
	.col-2r:nth-child(2n+1),
	.c2-left:nth-child(2n+1),
	.c2-right:nth-child(2n+1),
	.c2i:nth-child(2n+1),
	.c2l:nth-child(2n+1),
	.c2r:nth-child(2n+1) {
		clear: both;
	}
}

@supports (display: flex) {
	.two-col,
	.col-2,
	.c2 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.two-col:after,
	.col-2:after,
	.c2:after {
		content: '';
		-webkit-box-flex: 1;
		-webkit-flex: auto;
		    -ms-flex: auto;
		        flex: auto;
	}
	.two-col-left, .two-col-right, .two-coll, .two-colr,
	.col-2-left,
	.col-2-right,
	.col-2l,
	.col-2r,
	.c2-left,
	.c2-right,
	.c2l,
	.c2r {
		-webkit-box-flex: 0;
		-webkit-flex: 0 1 100%;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	@media (min-width: 45.0625rem) {
		.two-col-left, .two-col-right, .two-coll, .two-colr,
		.col-2-left,
		.col-2-right,
		.col-2l,
		.col-2r,
		.c2-left,
		.c2-right,
		.c2l,
		.c2r {
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 48.57143%;
			    -ms-flex: 0 1 48.57143%;
			        flex: 0 1 48.57143%;
		}
	}
}
/*# sourceMappingURL=base.css.map */